* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: #f8faef;
}

.navigation__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  height: 80px;
  width: 100px;
}

.navigation__user {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.navigation__user-link {
  text-decoration: none;
  color: #7f2121;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.category__item {
  list-style: none;
  font-size: 0.9rem;
  width: 25%;
  border: 1px solid #d8dcc6;
  padding: 5px;
  text-align: center;
}

.category__link {
  color: black;
  text-decoration: none;
}

.search {
  width: 65%;
  border-radius: 10px;
  padding: 5px;
  border: none;
  border: 1px solid #d0d4c2;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.poster1,
.poster2,
.poster3 {
  width: 100%;
  padding: 5px;
}

.header__poster-wrapper {
  width: 100%;
}

.popular__products,
.allProducts,
.category__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.product__wrapper {
  width: 40%;
  border: 1px solid rgb(238, 228, 228);
  padding: 15px;
}

.product__img {
  width: 100%;
}

.product__name {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* .product {
  padding: 10px;
  border: 1px solid black;
  width: 40%;
} */

/* th {
  text-align: start;
} */

.filter {
  display: flex;
  gap: 15px;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 750px) {
  .navigation__logo {
    height: 150px;
    width: 210px;
  }

  .header {
    flex-direction: row;
    justify-content: center;
  }

  .poster1,
  .poster2,
  .poster3 {
    padding: 5px;
    width: 33.5%;
  }

  .category {
    width: 20%;
  }
}
