* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: #f8faef;
}

.navigation__wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  height: 80px;
  width: 110px;
}

.navigation__user {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.navigation__user-link {
  text-decoration: none;
  color: #7f2121;
}

.searchform {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #f8faef;
}

.category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.category__item {
  list-style: none;
  font-size: 0.9rem;
  width: 25%;
  border: 1px solid #d8dcc6;
  padding: 5px;
  text-align: center;
}

.category__item:active {
  background-color: #d8dcc6;
}

.category__link,
.register__link,
.logout__button,
#filter__icon,
.cancelreg,
.login__link {
  color: black;
  text-decoration: none;
}

.logout__wrapper {
  display: flex;
  gap: 15px;
}

.forgot__password__link {
  color: black;
  text-decoration: none;
  margin: 6px 0px 6px 0px;
}

.search {
  width: 65%;
  border-radius: 10px;
  padding: 5px;
  border: none;
  border: 1px solid #d0d4c2;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.poster1,
.poster2,
.poster3 {
  width: 100%;
  padding: 5px;
}

.header__poster-wrapper {
  width: 100%;
}

.popular__products,
.allProducts,
.category__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  gap: 15px;
}

.product__wrapper {
  width: 40%;
  border: 1px solid rgb(238, 228, 228);
  padding: 15px;
  margin-top: 15px;
}

.product__wrapper:hover {
  margin-top: 5px;
}

.product__img {
  width: 100%;
}

.product__name {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.viewproduct__img {
  width: 70%;
}

.startpage__title {
  text-align: center;
  margin-top: 15px;
}

.buy__button {
  padding: 7px;
  border-radius: 15px;
  margin-top: 5px;
  background-color: #d0d4c2;
  border: none;
}

.buy__button:hover {
  background-color: #b6baa7;
}

.pages__wrapper {
  display: flex;
  justify-content: center;
}

.page__button {
  text-decoration: none;
  color: black;
  background-color: #d0d4c2;
  padding: 8px;
  height: 28px;
  width: 28px;
  text-align: center;
}

.filter {
  display: flex;
  gap: 15px;
  padding: 5px;
  margin-top: 10px;
  justify-content: center;
}

.login__wrapper,
.register__wrapper,
.reset__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px 10px 10px 0px;
  background-color: white;
}

.login__message__wrapper,
.register__message__wrapper,
.reset__message__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
}

.login__input,
.register__input,
.reset__input {
  border: none;
  border-bottom: 1px solid #b6baa7;
}

.login__input:active,
.login__input:focus,
.register__input:active,
.register__input:focus,
.reset__input:active,
.reset__input:focus {
  outline: none;
}

.username__wrapper,
.password__wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login__button,
.register__button,
.reset__button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #b6baa7;
  width: 100px;
  margin: 10px;
}

.reset__button {
  width: auto;
}

.forgotpassword__wrapper,
.verifiedaccount__wrapper {
  height: 69vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register__account__wrapper {
  height: 69vh;
  display: flex;
  justify-content: center;
}

.register__email-text,
.forgot__email-text {
  height: 69vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.viewproduct__buy__button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #b6baa7;
  width: 100px;
  margin: 10px;
}

.login__submit__wrapper,
.register__submit__wrapper,
.reset__submit__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login,
.register,
.reset {
  height: 67vh;
}

.cancel__link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.viewproduct__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.viewproduct__title {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f8faef;
  padding: 30px;
  margin-top: 20px;
}

#payment__icon {
  font-size: 1.5rem;
}

.footer__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.user__link {
  font-size: 1.4rem;
}

#user__icon {
  color: black;
}

#shoppingcart {
  font-size: 1.2rem;
}

.shoppingcart__wrapper {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 750px) {
  #shoppingcart {
    cursor: pointer;
  }

  .navigation__logo {
    height: 130px;
    width: 190px;
  }

  .navigation__wrapper {
    padding: 10px 25px 10px 25px;
  }

  .header {
    flex-direction: row;
    justify-content: center;
  }

  .poster1,
  .poster2,
  .poster3 {
    padding: 5px;
    width: 33.5%;
  }

  .category {
    width: 100%;
  }

  .category__item {
    border: none;
    width: auto;
  }

  .category__item:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .product__wrapper {
    width: 20%;
    transition: 0.3s;
  }

  .product__wrapper:hover {
    cursor: pointer;
  }

  .viewproduct__img {
    width: 30%;
  }

  .login__wrapper,
  .register__wrapper,
  .reset__wrapper {
    width: 60%;
  }

  .login,
  .register,
  .reset {
    display: flex;
    justify-content: center;
    height: 58vh;
  }

  .buy__button:hover {
    cursor: pointer;
  }

  .logout__button:hover {
    text-decoration: underline;
  }

  .viewproduct__buy__button:hover,
  .login__button:hover,
  .register__button:hover,
  .reset__button:hover {
    background-color: #d0d4c2;
    cursor: pointer;
  }
}
